<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../mood.css">
        <style>
            body{
                background-color: {{color}}
            }
            #home{
                background-color: {{color}}
            }
        </style>

    </head>  
    <body>
        <div>
            <button id="home" onclick="location.href='http://localhost:3000/'">HOME</button>
        </div>

        <div>
            <h1 id="subtitle">{{mood}}</h1>
        </div>

        
        <div id="tableContainer1">
            <div id="tableContainer2">
                {{!-- <table>
                    <tr>
                        <td> --}}
                            <span style="text-align: center;">
                            <div style="
  vertical-align: middle; line-height:50px; height:50px; width:50%; margin: auto; border: 1px solid white; ">
                             <a href={{link}}>{{name}}</a>
                            </div>
                            </span>
                        {{!-- </td>
                    </tr> --}}
                    {{!-- <tr>
                        <td>
                            <a>name of song2</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a>name of song3</a>
                        </td>
                    </tr> --}}
                {{!-- </table> --}}
            </div>
        </div>
    </body>
</html>


{{!-- 


server
Send over song.happy

mood
each
 --}}